<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>CKEditor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <style>
    .ck-editor__editable {
      height: 800px;
    }
    .ck-content {
      font-size: 12px;
    }
    a, a:hover{
      text-decoration: none;
      color:white;
    }
  </style>
</head>

<body style="background-color: #6c757d" class="d-flex align-items-center justify-content-center">


<div style="width: 70%; margin: 0 auto;">
  <div class="card rounded" style="width:100%; margin: 30px auto 10px;background-color:#2C3E50 ">
    <div class="card-header text-lg-end">
      <button type="button" class="btn btn-sm btn-secondary"><a th:href="@{goToRecycleBin?scNo={scNo}(scNo=${schedule.getScNo()})}">휴지통 이동</a></button>
      <button type="button" class="btn btn-sm btn-secondary" onclick="location.href='/'">메인가기</button>
      <button type="button" id="myTeam" class="btn btn-sm btn-secondary"  data-bs-toggle="modal" data-bs-target="#teamShare">일정공유</button>
      <button type="button" class="btn btn-sm btn-secondary"><a th:href="@{bookmark?scNo={scNo}(scNo=${schedule.getScNo()})}">즐겨찾기</a></button>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        제목 : <input type="text" class="form-control-plaintext d-inline" style="width: 90%" id="staticEmail" value="제목 예시" th:value="${schedule.getScTitle()}" th:readonly="${loginTeam.teamLevel!=9}" th:disabled="${loginTeam.teamLevel!=9}">
      </li>
      <li class="list-group-item">
        <p class="d-inline">동행 :</p>
        <span class="d-flex" th:each="teamShare : ${teamShareList}">
           <span style="display: flex; width: 24px; line-height: 30px; height: 30px; border: 1px solid gray; border-radius: 30px; overflow: hidden;">
            <img style="width: 100%; height: 100%; object-fit: cover;" th:if="${teamShare.image!=null}" th:src="${teamShare.image}" src="/static/img/basic_profile.png"/>
           </span>&nbsp
        </span>
      </li>
      <li class="row w-100 m-auto">
        <div class="list-group-item col">시작일 : <input type="date" th:value="${schedule.getScSdate()}" th:readonly="${loginTeam.teamLevel!=9}" th:disabled="${loginTeam.teamLevel!=9}" /></div>
        <div class="list-group-item col">종료일 : <input type="date" th:value="${schedule.getScEdate() }" th:readonly="${loginTeam.teamLevel!=9}" th:disabled="${loginTeam.teamLevel!=9}" /></div>
        <div class="list-group-item col">상태 : <select>
            <option class="btn-secondary" value="0" th:readonly="${loginTeam.teamLevel!=9}" th:disabled="${loginTeam.teamLevel!=9}" th:selected="${schedule.scProgress==0}">미실행</option>
            <option class="btn-secondary" value="1" th:readonly="${loginTeam.teamLevel!=9}" th:disabled="${loginTeam.teamLevel!=9}" th:selected="${schedule.scProgress==1}">진행 중</option>
            <option class="btn-secondary" value="2" th:readonly="${loginTeam.teamLevel!=9}" th:disabled="${loginTeam.teamLevel!=9}" th:selected="${schedule.scProgress==2}">완료</option>
          </select>
        </div>
      </li>
    </ul>
  </div>
  <textarea name="text" id="editor"></textarea>
</div>

<!-- 일정공유팝업창 -->
<div class="modal" tabindex="-1" id="teamShare" aria-labelledby="trash" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title m-lg-3">Select People</h5>
        <p class="modal-title" th:if="${loginTeam.teamLevel==9}">호스트 입니다.</p>
        <p class="modal-title" th:if="${loginTeam.teamLevel!=9}">동행 입니다.</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"/>
      </div>
      <!-- 모달 헤더 끝 --->
      <!-- 모달 바디 시작 -->
      <div class="modal-body">
        <!-- 1.검색창-->
        <div class="input-group">
          <input type="text" class="form-control"style="width:80%;" id="inputBox" th:readonly="${loginTeam.teamLevel!=9}">
          <button class="btn btn-outline-dark">search</button>
        </div>
        <!-- 2.검색시 출력될 박스 -->
        <div style="height: 30px;">
          <div class="alert alert-success" id="resultBox" style="display: none;">
            <span id="typedText"></span>
          </div>
        </div>
        <!-- 3.동행 리스트 -->
        <div class="card mt-5" style="width: 100%">
          <ul class="list-group list-group-flush" id="teamList">
            <!-- 동행 -->
            <th:block th:each="teamShare : ${teamShareList}">
              <li class="list-group-item d-flex justify-content-between" th:id="${teamShare.teamNo}">
                <!-- 동행 이미지 & 아이디 -->
                <span class="d-flex">
                    <img th:if="${loginTeam.teamLevel==9 && teamShare.teamLevel!=9}" th:id="'remove'+${teamShare.teamNo}" src="https://icongr.am/entypo/remove-user.svg?size=15&color=ababab">&nbsp;&nbsp;
                    <span style="display: flex; width: 24px; border: 1px solid gray; border-radius: 50px; overflow: hidden;">
                        <img style="width: 100%; height: 100%; object-fit: cover;" th:if="${teamShare.image!=null}" th:src="${teamShare.image}" src="/static/img/basic_profile.png"/>
                    </span> &nbsp;&nbsp;[[${teamShare.teamMid}]]
                </span>
                <!-- 권한 변경 dropdown -->
                <div class="btn-group">
                  <select id="team" th:id="'team'+${teamShare.teamNo}">
                    <option class="btn-secondary" value="0" th:readonly="${loginTeam.teamLevel!=9}" th:selected="${teamShare.teamLevel==0}" th:disabled="${teamShare.teamLevel==9 || loginTeam.teamLevel!=9}">읽기권한</option>
                    <option class="btn-secondary" value="1" th:readonly="${loginTeam.teamLevel!=9}" th:selected="${teamShare.teamLevel==1}" th:disabled="${teamShare.teamLevel==9 || loginTeam.teamLevel!=9}">수정권한</option>
                    <hr>
                    <option class="btn-secondary" value="9" th:readonly="${loginTeam.teamLevel!=9}" th:selected="${teamShare.teamLevel==9}" th:disabled="${teamShare.teamLevel!=9 || loginTeam.teamLevel!=9}">호스트</option>
                  </select>
                </div>
              </li>
            </th:block>
          </ul>
        </div>
        <!-- 모달 바디 끝 -->
        <!-- 모달 푸터 시작 --->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>

  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
  <script th:inline="javascript">
    const queryString = window.location.search; //?scNo=1
    const scNo = new URLSearchParams(queryString).get('scNo'); //1

      ClassicEditor.create(document.querySelector('#editor'), {
      });

    //#inputBox의 키이벤트 발생 시 호출
    $("#inputBox").on("keyup", function() {
      let typedText = this.value;
      if (typedText == "") {
        $("#resultBox").hide();
        return;
      }
      $("#resultBox").show();
      $("#typedText").show();
      $("#typedText").text(typedText);

      $.ajax({
        url: "/members?memId="+typedText,
        type: "GET",
        success: function(result) {
          let button = "<button class='btn btn-sm btn-outline-dark' ";
          if(result.memId==typedText){
            button += "onclick='addTeam(\""+result.memId+"\")'>"+result.memId+"</button>";
          } else{
            button += "onclick='addTeam()'></button>";
          }
          if(result.memId==typedText){
            $('#typedText').text("");
            $("#typedText").append(button);
          }
        },
      });
    });

    //일정 초대 이벤트 함수
    // => 이메일 전송 >> 동행의 링크 확인 >> 동행 추가
    function addTeam(memId){
      const loginId = [[${loginTeam.teamMid}]];
      if(memId == loginId) {
        alert("귀하의 아이디 "+memId+"를 입력하셔서 초대가 불가능 합니다.");
        return;
      }
      if(confirm(memId+"님을 일정에 초대하시겠습니까? 확인을 누를 시 동행에게 일정 초대 메일이 발송됩니다.")){
          //이메일 전송
          $.ajax({
            url: "/teams/share/send-link/"+scNo,
            method: "POST",
            contentType: "application/json",
            dataType: "text",
            data: JSON.stringify({"teamMid": memId}),
            success: function(result) {
            },
            error: function(error) {
              alert("이메일 전송 API 호출 중 에러 발생 : " + error.status);
            }
          });
        }
      }

    [# th:each="teamShare : ${teamShareList}"]
      //권한변경 이벤트 처리 함수
      $("#team"+[[${teamShare.teamNo}]]).on("change", function() {
        const teamLevel = $("#team"+[[${teamShare.teamNo}]]).val(); //선택된 권한레벨 값
        const teamMId = [[${teamShare.teamMid}]];
        $.ajax({ //동행 권한 변경
          url: "/teams/share/"+scNo,
          type: "PATCH",
          contentType: "application/json",
          dataType: "text",
          data: JSON.stringify({"teamMid": teamMId, "teamLevel": teamLevel} ),
          success: function(result) {
          },
          error: function(xhr, status, error) {
            console.error("error: ", status, ", ", error);
          }
        });
      });

      //권한 삭제 이벤트 처리 함수
      $("#remove"+[[${teamShare.teamNo}]]).on("click", function() {
        const teamMId = [[${teamShare.teamMid}]];
        if(confirm(teamMId+"님을 일정에서 삭제하시겠습니까?")){
          $.ajax({
            url: "/teams/share/"+scNo,
            type: "DELETE",
            contentType: "application/json",
            dataType: "text",
            data: JSON.stringify({"teamMid": teamMId}),
            success: function(result) {
              //$("#"+[[${teamShare.teamNo}]]).hide();
              location.href="/schedules?scNo="+scNo;
            },
            error: function(xhr, status, error) {
              console.error("error: ", status, ", ", error);
            }
          });
        }
      });
    [/]

  </script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</body>
</html>