<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>CKEditor</title>
  <style>
    .ck-editor__editable {
      height: 400px;
    }

    .ck-content {
      font-size: 12px;
    }
  </style>
</head>

<body>
제목 : <p th:text="${schdule.getScTitle()}"></p>
날짜 : <p th:text="${schdule.getScSdate()}"></p> <p th:if="${schdule.getScEdate()}!=null">→</p> <p th:text="${schdule.getScEdate()}"></p>
동행 : <p></p>
상태 : <p th:text="${schdule.getScProgress()}"></p>
<!--<a th:href="@{goToRecycleBin/{scNo}(scNo=${schdule.getScNo()})}">휴지통 이동</a>-->
<!--<a onclick='goToRecycleBin()'>휴지통 이동</a>-->

<form action="#" method="POST">
  <textarea name="text" id="editor"></textarea>
  <p><input type="submit" value="전송"></p>
</form>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
<script>
  ClassicEditor.create(document.querySelector('#editor'), {

  });

  /*function goToRecycleBin() {
    location.href='goToRecycleBin/'+[[${schedule.scNo}]];
  }*/

</script>
</body>
</html>