<!DOCTYPE html>
<html th:fragment="layout (links, scripts, style, title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 공통 -->
    <link th:href="@{/css/sidebar.css}" href='../static/css/sidebar.css' rel='stylesheet' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <!-- 개별 -->
    <title th:replace="${title}"></title>
    <th:block th:replace="${links}"></th:block>
    <th:block th:replace="${style}"></th:block>
<head>
<body>
<div class="d-flex">

<nav th:insert="~{sidebar :: sidebar}">
    사이드바
</nav>
<section th:insert="${content}" class="position-fixed">
    컨텐츠
</section>
</div>
<th:block th:replace="${scripts}"></th:block>
</body>
<script th:inline="javascript">
    $(function () { //웹소켓 수신
        let socket = new SockJS('/alarm');
        socket.onopen = function() {
            console.log('info: connection opened.');
        };
        socket.onmessage = function(event) {
            let data = event.data;
            console.log("ReceiveMessage : " + data + "\n");
            // 모달 알림
            alert(data);
            console.log(data);
        };
        socket.onclose = function() {
            console.log('connect close');
        };
        socket.onerror = function (err) {console.log('Errors : ' , err);};
    });
</script>
</html>