<!DOCTYPE html>
<html th:fragment="layout (links, scripts, style, title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}"></title>
    <th:block th:replace="${links}"></th:block>
    <th:block th:replace="${scripts}"></th:block>
    <link th:href="@{/bootstrap5/css/bootstrap.css}" href='../static/bootstrap5/css/bootstrap.css' rel='stylesheet' />
</head>
<body>
<div class="d-flex">
<nav th:insert="~{sidebar :: sidebar}" style="width: 30%">
        사이드바
</nav>
<section th:insert="${content}" style="width: 70%">
    컨텐츠
</section>
</div>
<script th:src="@{bootstrap5/js/bootstrap.js}" src='../static/bootstrap5/js/bootstrap.js'></script>
</body>
</html>