<!DOCTYPE html>
<html th:fragment="layout (links, scripts, style, title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 개별 -->
    <title th:replace="${title}"></title>

    <!-- 개별 -->
    <th:block th:replace="${links}"></th:block>
    <th:block th:replace="${scripts}"></th:block>
    <th:block th:replace="${style}"></th:block>

    <!-- 공통 -->
    <link th:href="@{/library/bootstrap/css/bootstrap.css}" href='../static/library/bootstrap/css/bootstrap.css' rel='stylesheet' />
    <link th:href="@{/css/sidebar.css}" href='../static/css/sidebar.css' rel='stylesheet' />

</head>
<body>
<div class="d-flex">
<nav th:insert="~{sidebar :: sidebar}" style="width: 20%">
        사이드바
</nav>
<section th:insert="${content}" style="width: 80%">
    컨텐츠
</section>
</div>
<script th:src="@{/library/bootstrap/js/bootstrap.js}" src='../static/library/bootstrap/js/bootstrap.js'></script>
</body>
</html>