<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/sidebar.css}" href='../static/css/sidebar.css' rel='stylesheet' />
</head>
<body>
<div th:fragment="sidebar" class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" />
        <h2>닉네임</h2>
    </header>
    <ul>
        <li tabindex="0" class="icon-search"><span>검색</span></li>
        <li tabindex="0" class="icon-bookmark"><span>즐겨찾기</span></li>
        <li tabindex="0" class="icon-alarm"><span>알림</span></li>
        <li tabindex="0" class="icon-trash"><span>휴지통</span></li>
        <li tabindex="0" class="icon-schedule"><span>일정</span></li>
        <li tabindex="0" class="icon-logout"><span>로그아웃</span></li>
    </ul>
</div>
</body>
</html>