<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link href='../static/css/sidebar.css' rel='stylesheet' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="sidebar">
    <div class="menu text-white" tabindex="0">
        <header class="avatar">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1533738363-b7f9aef128ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
            <h2>cat</h2>
        </header>
        <div class="ul">
            <!-- alarm -->
            <div tabindex="0" class="icon-alarm li" data-bs-toggle="collapse" data-bs-target="#alarmBox">
                <span id="alarm" class="w-75">알림</span>&nbsp;&nbsp;&nbsp;
                <span class="badge bg-secondary">4</span>
            </div>

            <div id="alarmBox" class="collapse">
                <ul style="height: 80px; overflow: scroll;">
                    <li th:each="alarm : ${alarmList}">
                        <span th:if="${alarm.alCate}==0"><strong>[[${titleList.get(alarmStat.index)}]]</strong>의 일정이 삭제 되었습니다.</span>
                        <span th:if="${alarm.alCate}==1"><a th:href="@{/schedules?scNo={scNo}(scNo=${alarm.alScno})}"><strong>[[${titleList.get(alarmStat.index)}]]</strong></a>의 일정이 수정 되었습니다.</span>
                        <span th:if="${alarm.alCate}==2"><a th:href="@{/schedules?scNo={scNo}(scNo=${alarm.alScno})}"><strong>[[${titleList.get(alarmStat.index)}]]</strong></a>의 일정에 초대 되었습니다.</span>
                        <span th:if="${alarm.alCate}==3"><strong>[[${titleList.get(alarmStat.index)}]]</strong>의 일정에서 삭제되었습니다.</span>
                        <span th:if="${alarm.alCate}==4"><a th:href="@{/schedules?scNo={scNo}(scNo=${alarm.alScno})}"><strong>[[${titleList.get(alarmStat.index)}]]</strong></a>의 일정의 귀하의 권한이 읽기로 변경되었습니다.</span>
                        <span th:if="${alarm.alCate}==5"><a th:href="@{/schedules?scNo={scNo}(scNo=${alarm.alScno})}"><strong>[[${titleList.get(alarmStat.index)}]]</strong></a>의 일정의 귀하의 권한이 쓰기로 변경되었습니다.</span>
                    </li>
                </ul>
            </div>

            <!-- search -->
            <div tabindex="0" class="icon-search li" id="search" data-bs-toggle="modal" data-bs-target="#searchbox">
                <span>검색</span>
            </div>

            <!-- bookmark -->
            <div tabindex="0" class="icon-bookmark li" data-bs-toggle="collapse" data-bs-target="#bookmark"><span>즐겨찾기</span></div>
            <div id="bookmark" class="collapse">
                <ul style="height: 80px; overflow: scroll;">
                    <th:block th:each="bookmark : ${bookmarkList}">
                        <th:block th:if="${bookmark.scStatus}==1">
                            <li>[[${bookmark.getScSdate()}]] ~ [[${bookmark.getScEdate()}]] / <a th:href="@{/schedules?scNo={scNo}(scNo=${bookmark.getScNo})}">[[${bookmark.getScTitle()}]]</a></li>
                        </th:block>
                    </th:block>
                </ul>
            </div>


            <!-- schedule -->
            <div tabindex="0" class="icon-schedule li"data-bs-toggle="collapse" data-bs-target="#schedule"><span>일정</span></div>
            <div id="schedule" class="collapse">
                <ul style="height: 80px; overflow: scroll;">
                    <th:block th:each="schedule : ${scheduleList}">
                        <th:block th:if="${schedule.scStatus}==1">
                            <li><Strong>([[${schedule.getScNo}]])</Strong>[[${schedule.getScSdate}]] ~ [[${schedule.getScEdate}]] / <a th:href="@{/schedules?scNo={scNo}(scNo=${schedule.getScNo})}">[[${schedule.getScTitle}]]</a></li>
                        </th:block>
                    </th:block>
                </ul>
            </div>


            <div class="position-absolute bottom-0">
            <!-- trash -->
            <div tabindex="0" class="icon-trash li" id="trash" data-bs-toggle="modal" data-bs-target="#trashbox"><span class="m-auto">휴지통</span></div>
            <!-- login -->
            <span tabindex="0" class="icon-logout li"><span>로그아웃</span></span>
            </div>
        </div>
    </div>



    <!-- searchbox -->
    <div class="modal" tabindex="-1" id="searchbox" data-bs-backdrop="static" aria-labelledby="search" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">검색어를 입력해주세요</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" class="form-control"style="width:80%;" id="inputBox">
                        <select style="background-color: gray; color:white; width: 20%;" class="form-select" aria-label="Default select example">
                            <option selected value="1">제목</option>
                            <option value="2">내용</option>
                            <option value="3">날짜</option>
                        </select>
                    </div>
                    <div class="alert alert-success" id="resultBox" style="display: none;">
                        <span id="typedText">sdfsdfsdf</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- trashbox -->
    <div class="modal" tabindex="-1" id="trashbox" aria-labelledby="trash" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">휴지통</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div id="recycleBin">
                        <ul style="height: 80px; overflow: scroll;">
                            <th:block th:each="schedule : ${scheduleList}">
                                <th:block th:if="${schedule.scStatus}==0">
                                    <li>
                                        <Strong>([[${schedule.getScNo}]])</Strong>
                                        [[${schedule.getScSdate}]] ~ [[${schedule.getScEdate}]] / [[${schedule.getScTitle}]]
                                        <a th:href="@{restore?scNo={scNo}(scNo=${schedule.getScNo()})}">복원</a> <a th:href="@{delete?scNo={scNo}(scNo=${schedule.getScNo()})}">삭제</a>
                                    </li>
                                </th:block>
                            </th:block>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("inputBox").onkeyup= function() {
            let typedText = this.value;
            if (typedText == "") {
                document.getElementById("resultBox").style.display = "none";
                return;
            }
            //입력값을 typedText 변수에 담아 AJAX 요청으로 DB에 저장된 스케줄 출력될 수 있도록 구현하기
            document.getElementById('typedText').textContent = typedText;
            document.getElementById('resultBox').style.display = 'block';
        };

        document.getElementById("alarm").onclick= function() {
            document.getElementById('alarmBox').style.display = 'block';
        };
    </script>
</div>





</body>
</html>