<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>calenkit confirm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <style>
        a, a:hover, button, button:hover{
            text-decoration: none;
        }
    </style>
</head>
<body style="background-color: #6c757d; text-align: center; color: white; margin-top: 10%">
    <h3>[[${memId}]] 님, 일정공유에 참여하시겠습니까?</h3>
    <button class="btn btn-dark" id="teamShare">참여하기</button>
    <button class="btn btn-dark" onclick="location.href='/'">메인페이지로 이동하기</a></button>
</body>
<script th:src="@{/js/websocket.js}" src="../static/js/websocket.js"></script>
<script th:inline="javascript">
  receive();
  const domainURL = "http://localhost:8080";
  const memId = [[${memId}]];
  const scNo = [[${scNo}]];
  console.log(memId);
  console.log(scNo);
  $("#teamShare").click(function () {
      $.ajax({ //동행 추가
          url: domainURL+"/teams/share/"+scNo,
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify({"memId": memId}),
          dataType : "text",
          success: function(result) { //result = alNo
              if(result == "login-again") {
                  alert(memId+"의 계정으로 로그인 후 일정 공유에 참여해주세요.");
              } else {
                  location.href= "/schedules?scNo="+scNo;
              }
          },
          error: function(error) {
              alert(error.responseText);
          }
      });
  });

</script>

</html>