<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8' />
    <title>테스트 페이지</title>
    <link>
    <script></script>
</head>
<body>
<h3>알람리스트 출력 확인용</h3>
<div th:fragment="alarmList" th:each="alarm : ${alarmList}">
    <ol>
        <li>${alarm.alNo} = [[${alarm.alNo}]]</li>
        <li>${alarm.alTime} = [[${alarm.alTime}]]</li>
        <li>${alarm.alStatus} = [[${alarm.alStatus}]]</li>
        <li>${alarm.alScno} = [[${alarm.alScno}]]</li>
        <li>${alarm.alMid} = [[${alarm.alMid}]]</li>
        <li>${alarm.alCate} = [[${alarm.alCate}]]</li>
        <li>
        <span th:text="'일정이 삭제 되었습니다.'" th:if="${alarm.alCate}==0"/>
        <span th:text="'일정이 수정 되었습니다.'" th:if="${alarm.alCate}==1"/>
        <span th:text="'일정에 초대되었습니다.'" th:if="${alarm.alCate}==2"/>
        <span th:text="'일정의 권한이 변경되었습니다.'" th:if="${alarm.alCate}==3"/>
        </li>
    </ol>
</div>
</body>
</html>