<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.effourt.calenkit.mapper.MemberMapper">
    <!-- SAVE -->
    <insert id="save">
        INSERT INTO MEMBER(MEM_ID, MEM_PW, MEM_NAME, MEM_IMAGE, MEM_STATUS, MEM_LOGIN, MEM_AUTH_ID )
        VALUES(#{memId}, #{memPw}, #{memName}, #{memImage}, 1, NOW(), #{memAuthId})
    </insert>

    <!-- UPDATE -->
    <!-- 비밀번호 변경 시 호출 -->
    <!-- 소셜 회원가입의 기본값 = null , 이메일 회원가입의 기본값 = 사용자입력값 -->
    <update id="updatePassword">
        UPDATE MEMBER SET MEM_PW=#{memPw} WHERE MEM_ID=#{memId}
    </update>

    <!-- UPDATE -->
    <!-- 회원정보변경 시 호출 -->
    <!-- 로그인 처리 후 마지막로그인날짜 업데이트 처리 시 호출 -->
    <update id="update">
        UPDATE MEMBER
        <set>
            <if test="memPw != null and memPw != ''">
                MEM_PW=#{memPw},
            </if>
            <if test="memName != null and memName != ''">
                MEM_NAME=#{memName},
            </if>
            <if test="memImage != null and memImage != ''">
                MEM_IMAGE=#{memImage},
            </if>
            <if test="memStatus != null and memStatus != ''">
                MEM_STATUS=#{memStatus},
            </if>
            <if test="memLogin != null and memLogin != ''">
                MEM_LOGIN=#{memLogin},
            </if>
            <if test="memAuthId != null and memAuthId != ''">
                MEM_AUTH_ID=#{memAuthId}
            </if>
        </set>
        WHERE MEM_ID=#{memId}
    </update>

    <!-- DELETE -->
    <!-- 회원 정보 말소 시 호출 -->
    <delete id="delete">
        DELETE FROM MEMBER WHERE MEM_ID=#{memId}
    </delete>


    <!-- SELECT -->
    <!-- 닉네임 검색행 1개 -->
    <select id="findByMemName" parameterType="String" resultType="int">
        SELECT COUNT(MEM_NAME) FROM MEMBER WHERE MEM_NAME=#{memName}
    </select>

    <!-- SELECT -->
    <!-- 회원아이디 검색행 1개 -->
    <select id="findByMemId" resultType="Member">
        SELECT * FROM MEMBER WHERE MEM_ID=#{memId}
    </select>

    <!-- SELECT -->
    <!-- 회원아이디 검색 - 검색행 0개 이상 -->
    <!-- 관리자페이지 - 회원 검색 -->
    <!-- 일정 초대 팝업창 - 회원 검색 -->
    <select id="findAllByMemId" resultType="Member">
        SELECT * FROM MEMBER
        <where>
            <if test="keyword != null and keyword != ''">
                <bind name="keyword" value="keyword + '%'"/>
                MEM_ID LIKE #{keyword}
            </if>
        </where>
        ORDER BY MEM_ID
    </select>
</mapper>