<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.effourt.calenkit.mapper.ScheduleMapper">
    <!-- INSERT -->
    <!-- 상세페이지 내용 최초 입력 -->
    <insert id="save">
        INSERT INTO SCHEDULE(SC_TITLE, SC_CONTENT, SC_SDATE, SC_EDATE, SC_STATUS, SC_PROGRESS) VALUES('제목 없음', null, #{date}, null, 1, 1)
    </insert>

    <!-- UPDATE -->
    <!-- 상세페이지 내용 수정 입력 (글 수정) -->
    <update id="update">
        UPDATE SCHEDULE
        <set>
            <if test="scTitle!=null and scTitle!=''">
                SC_TITLE=#{scTitle},
            </if>
            <if test="scContent!=null and scContent!=''">
                SC_CONTENT=#{scContent},
            </if>
            <if test="scSdate==null or scSdate==''">
                SC_SDATE=#{scSdate},
            </if>
            <if test="scEdate==null or scEdate==''">
                SC_EDATE=#{scEdate},
            </if>
            <if test="scProgress==0 or scProgress==1 or scProgress==2">
                SC_PROGRESS=#{scProgress}
            </if>
        </set>
        WHERE SC_NO=#{scNo}
    </update>

    <!-- 일정 상태 변경(휴지통 이동, 복원) -->
    <update id="updateStatus">
        UPDATE SCHEDULE SET SC_STATUS=#{scStatus} WHERE SC_NO=#{scNo}
    </update>

    <!-- DELETE -->
    <!-- 수동 일정 삭제 -->
    <delete id="delete">
        DELETE FROM SCHEDULE WHERE SC_NO=#{scNo}
    </delete>

    <!-- SELECT -->
    <select id="findLastInsertScNo" resultType="java.lang.Integer">
        SELECT LAST_INSERT_ID()
    </select>

    <!-- 일정 검색행 1개 -->
    <select id="findByScNo" resultType="Schedule">
        SELECT * FROM SCHEDULE WHERE SC_NO=#{scNo}
    </select>

    <!-- (연월에 따른) 캘린더 일정 출력 -->
    <!-- date : 캘린더 연월 설정 변수 -->
    <select id="findAllByScNo" resultType="Schedule">
        SELECT SC_NO, SC_TITLE, SC_CONTENT, SC_SDATE, SC_EDATE, SC_STATUS, SC_PROGRESS
        FROM SCHEDULE
        WHERE SC_NO IN (
        <!-- scNoList를 scNo를 구분자로하여 출력. 정수(Integer)인 scNo만 출력되게했음. -->
        <foreach collection="scNoList" item="scNo" separator=",">
            <if test="scNo instanceof Integer">
                #{scNo}
            </if>
        </foreach>)
        <if test="date != null">
            AND DATE_FORMAT(SC_SDATE, '%Y-%m') &lt;= DATE_FORMAT(#{date}, '%Y-%m')
            AND DATE_FORMAT(SC_EDATE, '%Y-%m') &gt;= DATE_FORMAT(#{date}, '%Y-%m')
        </if>
        <if test="startRowNum != null and rowCount != null">
            LIMIT #{startRowNum}, #{rowCount}
        </if>
    </select>

    <!-- 휴지통 일정 전체 & 일부 검색 (일정 제목 문자열 검색)-->
    <select id="findByRecycleBin" resultType="Schedule">
        SELECT SC_NO, SC_TITLE, SC_CONTENT, SC_SDATE, SC_EDATE, SC_STATUS, SC_PROGRESS
        FROM SCHEDULE
        WHERE SC_NO IN (
        <!-- scNoList를 scNo를 구분자로하여 출력. 정수인 scNo만 출력되게했음. -->
        <foreach collection="scNoList" item="scNo" separator=",">
            <if test="scNo instanceof Integer">
                #{scNo}
            </if>
        </foreach>)
        <if test="keyword != null and keyword != ''">
            <bind name="keyword" value="'%' + keyword + '%'"/>
            AND SC_TITLE LIKE #{keyword}
        </if>
        AND SC_STATUS=0
        LIMIT #{startRowNum}, #{rowCount}
    </select>

    <!-- SELECT -->
    <!-- 일정 검색 (일정 제목, 내용 문자열 검색)-->
    <!-- scNo: 일정 번호, filter : 검색 조건(title / content), keyword : 검색어 -->
    <select id="findByFilter" resultType="Schedule">
        SELECT *
        FROM SCHEDULE
        WHERE SC_NO IN (
        <!-- scNoList를 scNo를 구분자로하여 출력. 정수인 scNo만 출력되게했음. -->
        <foreach collection="scNoList" item="scNo" separator=",">
            <if test="scNo instanceof Integer">
                #{scNo}
            </if>
        </foreach>)
        <if test="filter == 'title'">
            <bind name="keyword" value="'%' + keyword + '%'"/>
            AND SC_TITLE LIKE #{keyword}
        </if>
        <if test="filter == 'content'">
            <bind name="keyword" value="'%' + keyword + '%'"/>
            AND SC_CONTENT LIKE #{keyword}
        </if>
        AND SC_STATUS=1
        LIMIT #{startRowNum}, #{rowCount}
    </select>

    <!-- 검색 일정 총 갯수 -->
    <select id="countFindByFilter" resultType="Integer">
        SELECT COUNT(*)
        FROM SCHEDULE
        WHERE SC_NO IN (
        <!-- scNoList를 scNo를 구분자로하여 출력. 정수인 scNo만 출력되게했음. -->
        <foreach collection="scNoList" item="scNo" separator=",">
            <if test="scNo instanceof Integer">
                #{scNo}
            </if>
        </foreach>)
        <if test="filter == 'title'">
            <bind name="keyword" value="'%' + keyword + '%'"/>
            AND SC_TITLE LIKE #{keyword}
        </if>
        <if test="filter == 'content'">
            <bind name="keyword" value="'%' + keyword + '%'"/>
            AND SC_CONTENT LIKE #{keyword}
        </if>
        AND SC_STATUS=1
    </select>

    <!-- 휴지통 일정 총 갯수 -->
    <select id="countFindByRecycleBin" resultType="Integer">
        SELECT COUNT(*)
        FROM SCHEDULE
        WHERE SC_NO IN (
        <!-- scNoList를 scNo를 구분자로하여 출력. 정수인 scNo만 출력되게했음. -->
        <foreach collection="scNoList" item="scNo" separator=",">
            <if test="scNo instanceof Integer">
                #{scNo}
            </if>
        </foreach>)
        <if test="keyword != null and keyword != ''">
            <bind name="keyword" value="'%' + keyword + '%'"/>
            AND SC_TITLE LIKE #{keyword}
        </if>
        AND SC_STATUS=0
    </select>

    <!-- 일정 총 갯수 -->
    <select id="countFindAllByScNo" resultType="Integer">
        SELECT COUNT(*)
        FROM SCHEDULE
        WHERE SC_NO IN (
        <!-- scNoList를 scNo를 구분자로하여 출력. 정수(Integer)인 scNo만 출력되게했음. -->
        <foreach collection="list" item="scNo" separator=",">
            <if test="scNo instanceof Integer">
                #{scNo}
            </if>
        </foreach>)
        AND SC_STATUS=1
    </select>

    <!--    <select id="findByFilter" resultType="Schedule">-->
    <!--        SELECT *-->
    <!--        FROM SCHEDULE-->
    <!--        WHERE SC_NO=#{scNo}-->
    <!--        <if test="scContent != null and scContent != ''">-->
    <!--            <bind name="scContent" value="'%' + scContent + '%'"/>-->
    <!--            AND SC_CONTENT LIKE #{scContent}-->
    <!--        </if>-->
    <!--        <if test="scTitle != null and scTitle != ''">-->
    <!--            <bind name="scTitle" value="'%' + scTitle + '%'"/>-->
    <!--            AND SC_TITLE LIKE #{scTitle}-->
    <!--        </if>-->
    <!--    </select>-->

</mapper>