<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.effourt.calenkit.mapper.ScheduleMapper">
    <!-- INSERT -->
    <!-- 상세페이지 내용 최초 입력 -->
    <insert id="save">
        INSERT INTO SCHEDULE VALUES( #{scTitle}, #{scContent}, #{scSdate}, #{scEdate}, #{scStatus}, #{scProgress})
    </insert>

    <!-- UPDATE -->
    <!-- 상세페이지 내용 수정 입력 (글 수정, 휴지통 상태변경) -->
    <update id="update">
        UPDATE SCHEDULE
        <set>
            <if test="scTitle!=null and scTitle!=''">
                SC_TITLE=#{scTitle},
            </if>
            <if test="scContent!=null and scContent!=''">
                SC_CONTENT=#{scContent},
            </if>
            <if test="scSdate==null or scSdate==''">
                SC_SDATE=#{scSdate},
            </if>
            <if test="scEdate==null or scEdate==''">
                SC_EDATE=#{scEdate},
            </if>
            <if test="scStatus==0 or scStatus==1">
                SC_STATUS=#{scStatus}
            </if>
            <if test="scProgress==0 or scProgress==1 or scProgress==2">
                SC_PROGRESS=#{scProgress}
            </if>
        </set>
        WHERE SC_NO=#{scNo}
    </update>

    <!-- DELETE -->
    <!-- 수동 일정 삭제 -->
    <delete id="delete">
        DELETE FROM SCHEDULE WHERE SC_NO=#{scNo} CASCADE
    </delete>

    <!-- SELECT -->
    <!-- 본문 내용 출력 -->
<!--    <select id="findByScNo" resultType="Schedule">-->
<!--        SELECT SC_NO, SC_TITLE, SC_CONTENT, SC_SDATE, SC_EDATE, SC_STATUS, SC_PROGRESS-->
<!--        FROM SCHEDULE WHERE SC_NO=#{scNo}-->
<!--    </select>-->




    <!--
    SELECT *
    FROM SCHEDULE
    WHERE
    SC_CONTENT LIKE #{scContent}


    SELECT *
    FROM SCHEDULE
    WHERE
    SC_TITLE LIKE #{scTitle}

    SELECT *
    FROM SCHEDULE
    WHERE



    4.1 ~ 5.1
    3.1 ~ 6.20

    SELECT * FROM SCHEDULE
    WHERE TO_CHAR(SC_SDATE, 'YYYY-MM') LIKE '%' || #{tempDate} || '%'
    OR TO_CHAR(SC_EDATE, 'YYYY-MM') LIKE '%' || #{tempDate} || '%'


    SELECT * FROM SCHEDULE WHERE SC_SDATE >= #{scSdate}  1,2,3,4,5,6
    INTERSECT
    SELECT * FROM SCHEDULE WHERE SC_EDATE <= #{scEdate} 4,5,6,7,8,9

    4,5,6

    SELECT NAME FROM SUPER_HERO UNION SELECT NAME FROM MARVEL_HERO;


    SELECT *
    FROM SCHEDULE
    WHERE SC_SDATE > #{scEdate} OR SC_EDATE < #{scSdate}

    SELECT *
    FROM SCHEDULE
    WHERE SC_SDATE >= #{scSdate}
    -->

    <!-- SELECT -->
    <!-- 일정 검색 (일정 제목, 내용 문자열 검색)-->
<!--    <select id="findByFilter" resultType="Schedule">-->
<!--        SELECT SC_CONTENT-->
<!--        FROM SCHEDULE-->
<!--        WHERE-->
<!--        <if test="scContent != null and scContent != ''">-->
<!--            <bind name="scContent" value="'%' + scContent + '%'"/>-->
<!--            SC_CONTENT LIKE #{scContent}-->
<!--        </if>-->
<!--        <if test="scTitle != null and scTitle != ''">-->
<!--            <bind name="scTitle" value="'%' + scTitle + '%'"/>-->
<!--            SC_TITLE LIKE #{scTitle}-->
<!--        </if>-->
<!--    </select>-->

    <!-- (연월에 따른) 캘린더 일정 출력 -->

    <!-- 휴지통 일정 전체 & 일부 검색 (일정 제목 문자열 검색)-->

    <!-- 즐겨찾기 일정 전체 출력-->

</mapper>